body {
  /* background-color: lightgreen; */
  background-color: black;
  color: white;
}
@media screen and (max-width: 550px) {
  body {
    display: flex;
    align-items: center;
  }
}


.container {
  text-align: center;
}
table {
  margin: auto;
}
input {
  font-size: 40px;
  border-radius: 21px;
  background-color: black;
  color: #83ef7c;
  border: 3px solid #b4a284;
  border-color: rgb(0, 120, 215);
  width: 620px;
}
button {
  background-color: black;
  color: white;
  font-family: "Spline Sans", sans-serif;
  font-size: 35px;
  border-radius: 10px;
  border: 3px solid rgb(0, 120, 215);
  /* background-color: #f6ead4; */
  width: 123px;
  height: 70px;
}
.calculator {
  display: inline-block;
  border-radius: 25px;
  padding: 6px;
  background-color: #a2a595;
}
button:hover {
  filter: brightness(90%);
  border: 3px dotted orangered;
}
